$color-bg: #D8E3EB;
$color-header: #F2F6F9;
$color-input-bg: #f6f7f9;
$color-button-bg: #20CAB7;
$color-button-bg-light: #fdb750;

$color-txt-grey: #BABDC0;
$color-txt-paid: #FB8DA0;
$color-txt-saved: #C8DF52;

$color-nav-line-blue: #679CF4;
$color-nav-line-pink: #E0B0B4;
$color-nav-line-green: #77EADB;
$color-nav-line-purple: #E4CCFA;

$color-icon-wrapper: #D9E4EC;
$color-icon: #385e72;

// layout
.l-mt-1 {
  margin-top: .5rem;
}
.l-mt-2 {
  margin-top: 1rem;
}
